# Backup files
*.bak

# ModelSim/Questa artifacts
work/
*.mti
*.mpf
*.wlf
transcript

# Quartus artifacts
db/
incremental_db/
output_files/
*.qpf
*.qsf
*.qws

# Media files, also stored in this folder for assignment submission
*.png
*.mp4

# Drawings
*.vsd
*.odg
*.pdf
